.idea
.vs
obj/
bin/
*.DS_Store
*.csproj.user

#unity
/Unity/BuildTest/Library
/Unity/BuildTest/Temp
/Unity/BuildTest/Logs
/Unity/BuildTest/Builds
/Unity/BuildTest/UserSettings
/Unity/BuildTest/**.csproj
/Unity/BuildTest/**.sln
