[Desktop Entry]
Version=4.1.1
Name=Godot Engine
Comment=Godot Engine Mono
Exec=/bin/sh -c "$HOME/.local/share/godot/engine/Godot_v4.4.1-stable_mono_linux_x86_64/Godot_v4.4.1-stable_mono_linux.x86_64"
Icon=$HOME/.local/share/godot/engine/icon_color.svg
Terminal=false
Type=Application
Categories=Development
Name[en_NZ]=Godot Engine